body {
  width: 90%;
  margin: auto;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vmin;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(rgba(254, 221, 0, .4), rgba(254, 221, 0, .4)), url('../src/assets/images/background.jpg');
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 8vmin;
  color: #009A44;
}

h2 {
  font-size: 5vmin;
  color: white;
}

h3 {
  font-size: 4vmin;
  font-style: italic;
  color: #EF3340;
}

h4 {
  text-align: center; 
  font-size: 6vmin;
  font-style: italic;
  padding: 8vmin;
  color: #EF3340;
}

h1, h2, h4 {
  text-shadow: -1px 1px 2px #000,
  1px 1px 2px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

h1, h2, h3, h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}

input {
  width: 100%;
  margin-bottom: 2vmin;
}


img  {
  border-style: solid;
  border-color: #EF3340;
  border-radius: 2vmin;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

a {
  text-decoration: none;
}

.banner {
  border: none;
  height: 15vmin;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.bottom {
  margin-bottom: 6vmin;
}

.carousel-item {
  transition: opacity 5s ease-out;
}

.cooking-class-image {
  height: 45vmin;
  width: 60vmin;
  object-fit: cover;
  margin-bottom: 6vmin;
}

.enroll-button{
  background: #009A44;
  margin-bottom: 6vmin;
}

.formContainer {
  border-style: solid;
  border-color: #EF3340;
  border-radius: 2vmin;
  position: fixed;
  color: #009A44;
	background:rgba(254, 221, 0, 1);
  top: 5vmin;
  left: 5vmin;
	border-radius: 5px;
	width: 70vmin;
  z-index: 999;
}

.formContent {
  margin: 5vmin 0 5vmin 5vmin;
}

.formClose {
 background: #EF3340;
 position:absolute;
 top: 0;
 right: 0;
 text-decoration: none;
}

.formSubmit{
  background: #009A44;
}

.gallery-image {
  height: 50vmin;
  width: 50vmin;
  object-fit: cover;
}

.gallery-image-container {
  position: relative;
  margin: 1.25vmin;
}

.gallery-text-box {
  position: absolute;
  bottom: 0;
  margin: 0 0.5vmin 0.5vmin 0.5vmin;
  padding: 1vmin;
  background-color: rgba(254, 221, 0, 1);
  height: 20vmin;
  width: 98%;
  overflow: hidden;
  opacity: 80%; 
}

.logo {
  border: none;
  height: 10vmin;
  margin-bottom: 2vmin;
}

.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;
}

.modalCloseButton {
  position:absolute;
  top: 0;
  right: 0;
  color: white;
  background: #EF3340;
  z-index: 9999;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;

	margin: 50px auto;
	padding: 15px;
	width: 164vmin;
}

.modalImage {
  width: 160vmin;
  height: auto;
}

.nav-bar {
  top: 1.25rem; 
  right: 5%;
  left: 5%;
}

.scrolling-gallery {
  display: flex;
  overflow-x: scroll;
}

.self-photo{
  height: 50vmin;
  width: auto;
  object-fit: cover;
}

.self-photo-container {
  position: relative;
  width: auto;
  max-width: 45vmin;
}

.self-photo-textbox {
  position: absolute;
  right: 0;
  bottom: 0;
}

.top{
  margin-top: 6vmin;
}